<h2>Cities for <%= @train.name() %></h2>

<% if @train.cities().any?() %>

  <% @train.cities().each() do |city| %>
    <ul>
      <li><%= city.name() %></li>
    </ul>
    <% end %>

  <% else %>

    <p>There are no cities!</p>

  <% end %>

<div class="container">
  <a href="/"><button class="btn">Home</a>
  <a href="/trains/<%= @train.id() %>/edit"><button class="btn">Edit</a>
</div>
